node_modules
frontend/node_modules
npm-debug.log
.env
.env.local
.env.development
.env.test
.env.production
.git
.gitignore
README.md
.vscode
*.log
backend/uploads/*
!backend/uploads/.gitkeep
.DS_Store 